#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.avatar {
  width: 5rem; /* Tamaño ajustable según tu preferencia */
  height: 5rem;
  border-radius: 50%;
  object-fit: cover; /* Para asegurar que la imagen se ajuste al círculo */
}

.empleado-row {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  color: #888;
  margin: 0;
}

.department {
  text-align: right;
  color: #fff; /* Texto en color blanco */
  margin: 0;
  background-color: #007bff; /* Fondo celeste oscuro */
  padding: 5px 10px;
  border-radius: 5px;
}